.club-name {
  display: flex;
  gap: 310px;
  color: white;
  .order-info {
    display: flex;
    flex-direction: column;
    gap: 78px;
  }
  mat-form-field {
    width: 114px;
  }
  input {
    background-color: #096AFC1A;
    padding-left: 20px;
    font-size: 14px;
  }
  .line {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 400;
    font-size: 12.7679px;
    &__title {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    color: white;
  }
  .filter {
    &__title {
      font-weight: 500;
      font-size: 20px;
      color: white;
      margin-bottom: 24px;
    }
    .selects {
      display: flex;
      gap: 21px;
    }
  }
  .statuses {
    color: white;
    font-weight: 400;
    font-size: 11.0676px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 72px;
    width: 368px;
    flex-wrap: wrap;
    justify-content: space-between;
    .status {
      display: flex;
      gap: 15px;
      align-items: center;
      position: relative;
      zp-icon {
        position: absolute;
        left: 3px;
      }
    }
    .rectangle {
      height: 30px;
      width: 30px;
      background-color: #632CFF;
      :last-child{
        background-color: #632CFF;
      }
    }
    .elipse {
      height: 30px;
      width: 30px;
      border-radius:50px;
      background-color:#096AFB ;
      :last-child {
        opacity: 0.4;
      }
    }
    .opacity {
      opacity: 0.4;
    }
  }
  .select-room {
    mat-form-field {
      width: 190px;
    }
  }
  .rooms {
    .computers {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .status {
      display: flex;
      gap: 15px;
      align-items: center;
      position: relative;
      margin-bottom: 10px;
      zp-icon {
        position: absolute;
        left: 3px;
      }
      .hr {
        position: absolute;
        width: 28.68px;
        height: 3.95px;
        top: 36px;
        left: 1px;
        border-radius: 134.041px;
        background-color: #632CFF;
      }
    }
    .disabled {
      .elipse {
        opacity: 0.4;
      }
      .hr {
        opacity: 0.4;
      }
    }
    .elipse {
      height: 30px;
      width: 30px;
      border-radius:50px;
      background-color:#096AFB ;
    }
  }
  .card {
    width: 424px;
    height: 542px;
    background: rgba(15, 22, 33, 0.76);
    border-radius: 47px;
    padding: 39px 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
    &__title {
      font-weight: 700;
      font-size: 28.53px;
    }
    .data {
      display: flex;
      flex-direction: column;
      .booked {
        display: flex;
        gap: 5px;
      }
      .name {
        font-weight: 400;
        font-size: 12.7009px;
        opacity: 0.5;
      }
      .value {
        font-weight: 500;
        font-size: 16.9346px;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 13px;
      border-bottom: 2px solid grey;
      padding-bottom: 30px;
      border-bottom-style: dashed;
    }
    .result {
      .name {
        font-size: 21px;
        margin-bottom: 5px;
      }
      .value {
        font-size: 26px;
      }
    }
  }
}

::ng-deep .mat-form-field-flex {
  border-radius: 14.36px !important;
  background-color: #096AFC1A !important;
  font-size: 14.36px !important;
  padding: 0px 10px 2px 8px !important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-select-value {    
  color: white !important;  
}

::ng-deep .mat-form-field-infix {
  padding: 0px 3px 11px 9px !important;
}
::ng-deep .mat-select-arrow-wrapper {
  transform: translateY(8%) !important;
}
::ng-deep .mat-select-placeholder {
  color: white;
  opacity: 0.4;
}