<div class="sign-up" [formGroup]="signUpForm">
  <div class="sign-up__wrapper">
    <div class="content">
      <div class="title">Создать аккаунт</div>
      <div class="inputs">
        <zp-icon class="phone-icon" icon="login-phone"></zp-icon>
        <zp-icon class="password-icon" icon="login-password"></zp-icon>
        <zp-icon class="email-icon" icon="sign-up-email"></zp-icon>
        <zp-icon class="name-icon" icon="sign-up-name"></zp-icon>
        <input brInput formControlName="name" [widthSize]="327" [heightSize]="49" placeholder="Название   комп клуба">
        <input brInput formControlName="phone" [widthSize]="327" [heightSize]="49" placeholder="Номер телефона">
        <input brInput formControlName="email" [widthSize]="327" [heightSize]="49" placeholder="Адрес эл. почты">
        <input type="password" formControlName="password" brInput [widthSize]="327" [heightSize]="49" placeholder="Пароль">
      </div>
      <!-- onclick="location='/info/32'" -->
      <zp-button [widthSize]="327" [heightSize]="44" (buttonClicked)="signUp()">Зарегистрироваться</zp-button>
      <div class="login">Есть аккаунта?
        <span onclick="location='/login'">Войти</span>
      </div>
    </div>
  </div>
</div>
